/*Configuraciones generales*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*Variables*/
:root{
    --color-primary:#eb1e00;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    ---color-danger: #f75842;
    --color-danger-variant: rgba(247,88,66,0.4);
    --color-white: #f2f2f2;
    --color-light: rgba(255,255,255,0.7);
    --color-black: #000;
    --color-bg:#1f2641;
    --color-bg1:#2e3267;
    --color-bg2:#424890;

    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition:a all 400ms ease;
}

/*Body*/
body{
    font-family: "Montserrat",sans-serif;
    line-height: 1.7;
    color:var(--color-white);
    background: var(--color-white);
}

/*Contenedor*/
.container{
    width:var(--container-width-lg);
    margin: 0 auto;
}

section{
    padding: 6rem 0;
    margin-bottom: 4rem;
}

/*Titulos y subtitulos*/

h1, h2, h3, h4, h5{
    line-height: 1.2;
}

h1{
    font-size: 2.4rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.3rem;
}
/*--------------------------------------------*/

a{
    color:var(--color-black);
}

img{
    width: 100%;
    display: block;
    object-fit:cover;

}

/*Botones*/
.btn{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding:1px solid transparent;
    font-weight: 500;
    transition:var(--transition);
}

.btn:hover{
    background: transparent;
    color: var(--color-black);
    border-color: var(--color-white);

}

.btn-primary{
    background:var(---color-danger);
    color:var(--color-black);
}
/*-------------------------*/

/*Navbar*/
.title{
    font-size: 2.4rem;
    color: var(--color-white);
    font-weight:bold;
}

.container li a{
    font-weight:600;
    color: var(--color-white);
}

nav{
    background:transparent;
    width:100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

nav{
    background:var(--color-primary);
}

.window-scroll{
    background:var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav__container{
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav button{
    display:none;
}

.nav__menu{
    display:flex;
    align-items:center;
    gap: 4rem;
}

.nav__menu a{
    font-size:0.9rem;
    transition:var(--transition);
}

.nav__menu a:hover{
    color:var(--color-black);
}


/*Header*/
header{
    position:relative;
    top:5rem;
    overflow:hidden;
    height:70vh;
    margin-bottom: 5rem;
}

.header__container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    gap: 5rem;
    height:100%;
}

.header__left h1{
    color:var(--color-black);
}

.header__left p{
    margin: 1rem 0 2.4rem;
    color:var(--color-black);
}


/*Categorias*/
.categories{
    background: rgb(61, 60, 60);
    height:46rem;
    margin-bottom: -1rem;
}

.categories h1{
    line-height: 1;
    margin-bottom:3rem;
}

.categories__container{
    display:grid;
    grid-template-columns: 40% 60%;
}

.categories__left{
    margin-right: 4rem;
}

.categories__left p{
    margin: 1rem 0 3rem;
}

.categories__right{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.2rem;
}

.category{
    background:var(--color-white);
    padding:2rem;
    border-radius: 2rem;
    transition:var(--transition);
}

.category:hover{
    box-shadow: 0 3rem 3rem  rgba(0,0,0,0.3);
    z-index: 1;
}

.categories__right  article h5,p{
    color: black;
}

.descripcion{
    color: white;
}
/*Aqui colores de los iconos*/
.category:nth-child(1) .category__icon{
    background:yellowgreen;
}

.category:nth-child(2) .category__icon{
    background:orange;
}

.category:nth-child(3) .category__icon{
    background:purple;
}

.category:nth-child(4) .category__icon{
    background:rgb(180, 54, 75);
}

.category:nth-child(5) .category__icon{
    background:aquamarine;
}



.category__icon{
    background: var(--color-primary);
    padding: 0.7rem;
    border-radius:0.9rem;
}

.category h5{
    margin: 2rem 0 1rem 0;
}

.category p{
    font-size:0.85rem;
}


/*Footer*/

footer{
    background-color:var(--color-primary);
    padding-top: 5rem;
    font-size:0.9rem;
}

.footer__container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:5rem;
}
.footer__container > div h4{
    margin-bottom:1.2rem;
}
.footer_1 p{
    margin:1rem 0 2rem;
}

footer ul li{
    margin-bottom:0.7rem;
}

footer ul li a:hover{
    text-decoration:underline;
}

.footer__socials{
    display: flex;
    gap:1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.footer__copyright{
    text-align:center;
    margin-top:4rem;
    padding:1.2rem 0;
    border-top: 1px solid var(--color-white);
}

.vice{
    font-size:2.4rem;
    color:white;
    font-weight:bold;
}

.descrip{
    color:white;
}

.contact p{
    font-size: 1rem;
    color:white !important;
    font-weight:bold;
}